- hosts: alura-terraform-ansible
  tasks:
  - name: Instalando o Python3 e Virtualenv
    become: yes
    apt:
      pkg:
      - python3
      - virtualenv
      update_cache: yes
  - name: Instalando as dependencias do projeto com pip
    pip:
      virtualenv: /home/ubuntu/proj/venv
      name:
        - django
        - djangorestframework
  - name: Iniciando o projeto
    shell: 'cd /home/ubuntu/proj; . venv/bin/activate; django-admin startproject setup .'
    ignore_errors: true
